<h2>Papelería</h2>
<% @products.each do |products| %>
<div class="caja_productos">
<p><%=image_tag products.image, class:"prueba"%></p><br>
<p class="titulo"><%= products.title %></p>
<br>
</div>
<%end%>