<h2>Visión</h2>
<br>
<p>AKROMEGA S.A., nació con sólidos principios del bien por el servicio y con una solides que emana de la ética empresarial y comercial para dar y recibir beneficios en un camino de doble vía para nuestros distinguidos amigos y clientes así como proveedores.

El camino está trazado, lo recorremos con claros objetivos; son cubierto día a día lo que nos permite que renovemos nuestras fuerzas físicas y espirituales. Las metas son cubiertas con éxito llenándonos de gozo con alegría porque actuamos y pensamos que el día de mañana será mucho mejor que el ayer.</p>
<br>
<h2>Misión</h2>
<br>
<p>Estando sólidos con todos los objetivos alcanzados; sin embargo: Revisamos, analizamos y mejoramos lo que en principio creíamos que se había hecho bien de acuerdo a los procesos seguidos.

Cada vez que innovamos; cumplimos con la familia AKROMEGA S.A., con sueldos y salarios que se encuentran por arriba de lo que dictan las leyes de nuestro País; y así mismo, porque podemos, servimos con mística para llegar oportunamente a todos nuestros apreciados y distinguidos clientes con productos de calidad y a precios sumamente razonables .</p>
<br>
<h2>Nuestros Valores</h2>
<br>
<p>AKROMEGA S.A.: Es una empresa que sirve con pasión mediante productos de marca y calidad reconocidos a nivel internacional e internacional, garantizando confort y rendimientos eficientes; para que, en lo posible, nuestros distinguidos amigos y clientes tengan una mejor calidad de vida.<br><br>

<strong>INTEGRIDAD:</strong> Hacemos lo correcto siempre.<br><br>

<strong>TRABAJO COORDINADO:</strong> Somos un equipo y trabajamos en todo lo que hacemos.<br><br>

<strong>PERTENENCIA:</strong> Trabajamos con principios y valores éticos y somos responsables de nuestros actos y decisiones.<br><br>

<strong>EL TIEMPO ES ORO:</strong> Cuantificamos y cualificamos la gran urgencia y disciplina de nuestro servicio.</p>
<%= image_tag "mision_vision.jpg", class:"mision_vision"%>