<h2 class="servicios">Mantenimiento Técnico</h1>
	<br>
	<%=image_tag "mantenimiento_tecnico.jpg", class: "servicios"%>
	<br>
<h2 class="servicios">Entregas a domicilio</h2>
<br>
	<%=image_tag "correos_del_ecuador.jpg", class: "servicios"%>
	<br>